<% comments.each do |comment| %>
  <div class="comment">
    <%= link_to profile_picture(comment.account, 40, 40), profile_path(comment.account.username) %>
    <strong><%= link_to comment.account.username, profile_path(comment.account.username), class: "text-dark" %></strong>
    <%= comment.comment %>
    <p class="text-muted m-l-55"><%= time_ago_in_words comment.created_at %> ago</p>
  </div>
<% end %>